.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 25px 0;
    margin-right: 240px;
}

.nav__list {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-right: 25px;
}

.nav__link {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-transform: uppercase;

    color: #000000;
}

.nav__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: all var(--animation);
}

.nav__link:hover::after,
.nav__link:focus::after {
    transform: scale(1);
    transform-origin: center left;
}

.nav__link.active {
    color: #000;
}

.nav__link.active::after {
    transform: scale(1);
    transform-origin: center left;
}

.languages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages__button {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.languages__list--submenu {
    position: absolute;
    top: 100%;

    overflow: hidden;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 450ms linear;
}

.languages__item:hover .languages__list--submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.header__button {
    width: 200px;
    height: 60px;

    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;
    border: none;

    color: #ffffff;
    background-color: #5B6460;

    transition: background-color var(--animation);
}

.header__button:hover,
.header__button:focus {
    background-color: #808E88;
}