.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 18px 0;
    margin-right: 240px;
}

.nav__list {
    display: flex;
    gap: 35px;
    align-items: center;
    margin-right: 25px;
}

.nav__link {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-transform: uppercase;

    color: #000000;
}

.nav__link::after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-color: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: all 300ms ease-in-out;
}

.nav__link:hover::after,
.nav__link:focus::after {
    transform: scale(1.1);
    transform-origin: center left;
}

.language {
    width: 25px;
    height: 25px;
    background-color: red;
}

.header__button {
    width: 200px;
    height: 60px;

    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;
    border: none;

    color: #ffffff;
    background-color: #5B6460;
}

.header__button:hover,
.header__button:focus {
    background-color: #808E88;
}