html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.87;
}

.page {
    overflow: hidden;
}

#page-transition {
    position: fixed;
    inset: 0;
    background: white;
    transform: translateX(100%);
    transition: transform 0.8s ease;
    z-index: 1000;
    pointer-events: auto;
}

.section__title {
    color: #5B6460;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 50px;
}

.section__text {
    width: 429px;
    font-size: 16px;
    line-height: 1.87;
    color: #333;
}