html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.87;
}

.section__title {
    color: #5B6460;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 50px;
}

.section__text {
    width: 429px;
    font-size: 16px;
    line-height: 1.87;
    color: #333;
}

/* Спочатку ховаємо вміст */
.fade-out {
    opacity: 0;
    transition: opacity 500ms ease;
}

/* Додаємо плавну появу */
.fade-in {
    opacity: 1;
    transition: opacity 500ms ease;
}