<section class="booking__information">
  <div class="container">
    <h2 class="booking__information__title">Hut rules</h2>
    <p class="booking__information__text">Check-in: 2:00 PM - 11:00 PM</p>
    <p class="booking__information__text">Checkout: 11:00 AM</p>
    <p class="booking__information__text">Not suitable for children and infants</p>
    <p class="booking__information__text">No smoking</p>
    <p class="booking__information__text">Pets free</p>
    <h2 class="booking__information__title">Cancellation policy</h2>
    <p class="booking__information__text">Free cancellation until 1:00 PM on Mar 27</p>
    <p class="booking__information__text">
      After that, cancel before 2:00 PM on Apr 1 and get a 50% refund, minus the first night and service fee.
    </p>
    <h2 class="booking__information__title">Important Information</h2>
    <p class="booking__information__text">
      You need to hike a steep hill to arrive at the treehouses, it takes approx 20-30 minutes on a trail with stairs
      and uneven ground.
    </p>
    <a href="./faq.html" class="bokoking__information__button">read FAQ</a>
  </div>
</section>
