<section class="services">
  <div class="container">
    <div>
      <h2 class="services__title">Choose Additional Services</h2>
      <div class="services__line"></div>
      <ul class="services__list">
        <li class="services__item">
          <div class="services__item-thumb">
            <button class="services__checkbox-btn" title="add">
              <img src="/img/booking-page/icons/plus.png" alt="" class="services__checkbox-img" />
            </button>
            <div class="services__item-text">
              <p class="services__item-text__subtitle">Fresh Breakfast for one</p>
              <p class="services__item-text__price">400kr</p>
            </div>
            <button class="services__item__button">
              <img class="services__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
            </button>
          </div>
          <div class="services__item__slider">
            <p class="services__slider-title">Fresh Breakfast</p>
            <p class="services__slider-text">Bread, Coffee, milk, juice, and a selection of spreads + toppings.</p>
          </div>
        </li>
        <li class="services__item">
          <div class="services__item-thumb">
            <button class="services__checkbox-btn" title="add">
              <img src="/img/booking-page/icons/plus.png" alt="" class="services__checkbox-img" />
            </button>
            <div class="services__item-text">
              <p class="services__item-text__subtitle">Fresh Breakfast for two</p>
              <p class="services__item-text__price">500kr</p>
            </div>
            <button class="services__item__button">
              <img class="services__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
            </button>
          </div>
          <div class="services__item__slider">
            <p class="services__slider-title">Fresh Breakfast</p>
            <p class="services__slider-text">Bread, Coffee, milk, juice, and a selection of spreads + toppings.</p>
          </div>
        </li>
        <li class="services__item">
          <div class="services__item-thumb">
            <button class="services__checkbox-btn" title="add">
              <img src="/img/booking-page/icons/plus.png" alt="" class="services__checkbox-img" />
            </button>
            <div class="services__item-text">
              <p class="services__item-text__subtitle">Classic Dinner for one</p>
              <p class="services__item-text__price">600kr</p>
            </div>
            <button class="services__item__button">
              <img class="services__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
            </button>
          </div>
          <div class="services__item__slider">
            <p class="services__slider-title">Classic Dinner</p>
            <p class="services__slider-text">Bread, Coffee, milk, juice, and a selection of spreads + toppings.</p>
          </div>
        </li>
        <li class="services__item">
          <div class="services__item-thumb">
            <button class="services__checkbox-btn" title="add">
              <img src="/img/booking-page/icons/plus.png" alt="" class="services__checkbox-img" />
            </button>
            <div class="services__item-text">
              <p class="services__item-text__subtitle">Classic Dinner for two</p>
              <p class="services__item-text__price">800kr</p>
            </div>
            <button class="services__item__button">
              <img class="services__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
            </button>
          </div>
          <div class="services__item__slider">
            <p class="services__slider-title">Classic Dinner</p>
            <p class="services__slider-text">Bread, Coffee, milk, juice, and a selection of spreads + toppings.</p>
          </div>
        </li>
        <li class="services__item">
          <div class="services__item-thumb">
            <button class="services__checkbox-btn" title="add">
              <img src="/img/booking-page/icons/plus.png" alt="" class="services__checkbox-img" />
            </button>
            <div class="services__item-text">
              <p class="services__item-text__subtitle">Electric Car Charge</p>
              <p class="services__item-text__price">800kr</p>
            </div>
            <button class="services__item__button">
              <img class="services__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
            </button>
          </div>
          <div class="services__item__slider">
            <p class="services__slider-title">Electric Car Charge</p>
            <p class="services__slider-text">Electric Car Charge</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="services__booking-total__thumb">
      <p class="services__booking__price">3.200kr <span class="services__booking__price--span">/ night</span></p>
      <div class="services__booking__dates__thumb">
        <div class="services__booking__dates">
          <p class="services__booking__dates-subtitle">Check in</p>
          <p class="services__booking__dates-text">4/29/2021</p>
        </div>
        <div class="services__booking__dates">
          <p class="services__booking__dates-subtitle">Check out</p>
          <p class="services__booking__dates-text">4/30/2021</p>
        </div>
        <div class="services__booking__dates">
          <p class="services__booking__dates-subtitle">Guests</p>
          <div class="services__booking__dates-guests">
            <button class="services__booking__guests-btn" type="button">-</button>
            <p class="services__booking__guest-result">1</p>
            <button class="services__booking__guests-btn" type="button">+</button>
          </div>
        </div>
      </div>
      <button class="services__booking-button" type="button">Book</button>
    </div>
  </div>
</section>
