<section class="services">
  <div class="container">
    <h2 class="services__title">Choose Additional Services</h2>
    <div class="services__line"></div>
    <ul class="services__list">
      <li class="services__item">
        <div class="services__item-thumb">
          <input type="checkbox" class="services__item-input" />
          <div class="services__item-text">
            <p class="services__item-text__subtitle">Fresh Breakfast for one</p>
            <p class="services__item-text__price">400kr</p>
          </div>
          <button class="services__item__button">
            <svg class="services__item__button-icon" width="20" height="18">
              <use></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
