<section class="faq">
  <div class="container">
    <ul class="faq__list">
      <li class="faq__item">
        <div class="faq__item-thumb">
          <div class="faq__item-text">
            <p class="faq__item-text__subtitle">PRICES</p>
          </div>
          <button class="faq__item__button">
            <img class="faq__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
          </button>
        </div>
        <div class="faq__item__slider">
          <p class="faq__slider-title">CANCELLATION POLICY</p>
          <p class="faq__slider-text">
            Cancellation four weeks prior = 100% refund <br />
            Cancellation two weeks prior = 50% refund <br />
            Cancellation later than two weeks = full payment
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-thumb">
          <div class="faq__item-text">
            <p class="faq__item-text__subtitle">THE WALK UP TO GLASS HUT</p>
          </div>
          <button class="faq__item__button">
            <img class="faq__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
          </button>
        </div>
        <div class="faq__item__slider">
          <p class="faq__slider-title">CANCELLATION POLICY</p>
          <p class="faq__slider-text">
            Cancellation four weeks prior = 100% refund <br />
            Cancellation two weeks prior = 50% refund <br />
            Cancellation later than two weeks = full payment
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-thumb">
          <div class="faq__item-text">
            <p class="faq__item-text__subtitle">CAPACITY</p>
          </div>
          <button class="faq__item__button">
            <img class="faq__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
          </button>
        </div>
        <div class="faq__item__slider">
          <p class="faq__slider-title">CANCELLATION POLICY</p>
          <p class="faq__slider-text">
            Cancellation four weeks prior = 100% refund <br />
            Cancellation two weeks prior = 50% refund <br />
            Cancellation later than two weeks = full payment
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-thumb">
          <div class="faq__item-text">
            <p class="faq__item-text__subtitle">PETS</p>
          </div>
          <button class="faq__item__button">
            <img class="faq__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
          </button>
        </div>
        <div class="faq__item__slider">
          <p class="faq__slider-title">CANCELLATION POLICY</p>
          <p class="faq__slider-text">
            Cancellation four weeks prior = 100% refund <br />
            Cancellation two weeks prior = 50% refund <br />
            Cancellation later than two weeks = full payment
          </p>
        </div>
      </li>
      <li class="faq__item">
        <div class="faq__item-thumb">
          <div class="faq__item-text">
            <p class="faq__item-text__subtitle">CHECK-IN / CHECK-OUT</p>
          </div>
          <button class="faq__item__button">
            <img class="faq__item__button-icon" src="/img/booking-page/icons/down-arrow.svg" alt="" />
          </button>
        </div>
        <div class="faq__item__slider">
          <p class="faq__slider-title">CANCELLATION POLICY</p>
          <p class="faq__slider-text">
            Cancellation four weeks prior = 100% refund <br />
            Cancellation two weeks prior = 50% refund <br />
            Cancellation later than two weeks = full payment
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
