.booking__hero {
    position: relative;
    height: 350px;
    overflow: hidden;
    background-color: grey;
    color: #FFF;
    margin-top: 125px;
}

.booking__hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
}

.booking__swiper {
    width: 100%;
    height: 100%;
}

.booking__swiper__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.booking__hero__text-content {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__title {
    font-size: 70px;
    font-weight: 300;
    line-height: 1.02;
    margin-bottom: 15px;
}

.booking__adress-link {
    font-size: 18px;
    line-height: 1.33;
    text-decoration-line: underline;
}

.booking__adress-link::before {
    margin-right: 7px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 15px;
    background-image: url('/img/booking-page/icons/location.png');
}