.services {
    margin-top: 150px;
    margin-bottom: 100px;
}

.services .container {
    display: flex;
    justify-content: space-between;
}

.services__title {
    color: #5B6460;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
}

.services__line {
    width: 659px;
    height: 1px;
    background-color: #5B6460;
}

.services__list {}

.services__item {
    margin-top: 24px;
}

.services__item-thumb {
    display: flex;
    align-items: center;

    width: 660px;
    height: 70px;
    background-color: #E9ECE0;

    padding: 13px 24px;
}

.services__checkbox-btn {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-color: #FFF;
    margin-right: 20px;
}

.services__checkbox-img {}

.services__item-text {
    margin-right: auto;
}

.services__item-text__subtitle {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 111%;
    margin-bottom: 6px;
}

.services__item-text__price {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 112%;
}

.services__item__button {
    background-color: transparent;
    border: none;
}

.services__item__button-icon {
    width: 20px;
    height: 20px;
    transition: transform 400ms linear;
}

.services__item__slider {
    width: 398px;
    height: 0;
    opacity: 0;
    transform: translateY(-150%);
    transition: all 400ms linear;
}

.services__item:hover .services__item__slider {
    transform: translateY(0);
    height: 50px;
    opacity: 1;
    margin: 24px;
}

.services__item:hover .services__item__button-icon {
    transform: rotate(180deg);
}

.services__slider-title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 10px;
}

.services__slider-text {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 142%;

}

.services__booking-total__thumb {
    width: 432px;
    height: 620px;
    padding: 21px 24px;
    border: 1px solid #5B6460;
}

.services__booking__price {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    line-height: 166%;
    margin-bottom: 25px;
}

.services__booking__price--span {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 250%;
}

.services__booking__dates__thumb {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 15px 0;
    border: 1px solid #5B6460;
    margin-bottom: 25px;
}

.services__booking__dates {
    margin-left: 20px;
}

.services__booking__dates:not(:last-child) {
    border-right: 1px solid #5B6460;
    padding-right: 40px;
}

.services__booking__dates-subtitle {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 133%;
    margin-bottom: 5px;
}

.services__booking__dates-text {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
}

.services__booking__dates-guests {
    display: flex;
    gap: 8px;
}

.services__booking__guests-btn {
    width: 18px;
    height: 18px;

    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.services__booking__guest-result {
    color: #333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 128%;
    padding: 0;
    margin: 0;
}

.services__booking-button {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #5B6460;
    border: none;
    padding: 16px 0px;
    margin-bottom: 30px;
}

.services__booking__service {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 112%;

    display: flex;
    justify-content: space-between;

}

.services__booking__service:last-child {
    color: #41906D;
}

.services__booking__service-price {}