<section class="area__gallery">
  <div class="container">
    <h2 class="area__gallery__title">Activities</h2>
    <ul class="area__gallery__list">
      <li class="area__gallery__item">
        <img src="/img/the-area-page/gallery/area-gallery-1-1.jpg" alt="" class="area__gallery__image" />
        <h3 class="area__gallery__item__title">Restaurants & shopping</h3>
        <div class="area__gallery__item__image-buttons">
          <button class="area__gallery__item__button">Hot tube</button>
          <button class="area__gallery__item__button">Electric car change</button>
        </div>
        <p class="area__gallery__item__text">
          Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen. They
          all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor shower.
          On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
        </p>
      </li>
    </ul>
  </div>
</section>
