<section class="area__hero">
  <div class="hero-swiper area__swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <img class="area__swiper__image" src="/img/the-area-page/hero/area-hero-1.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="area__swiper__image" src="/img/the-area-page/hero/area-hero-2.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="area__swiper__image" src="/img/the-area-page/hero/area-hero-3.jpg" alt="" />
      </li>
    </ul>
  </div>
  <div class="area__hero__text-content">
    <h1 class="area__title">The Area</h1>
    <a
      href="https://maps.app.goo.gl/1rqHs3kPH9BpdMuL8"
      class="area__hero__adress-link"
      target="_blank"
      rel="noopener noreferrer"
      >Vesterborg, Denmark</a
    >
    <a
      href="https://maps.app.goo.gl/1rqHs3kPH9BpdMuL8"
      target="_blank"
      rel="noopener noreferrer"
      class="area__hero__button"
      >get directions</a
    >
  </div>
</section>
