<section class="area__gallery">
  <div class="container">
    <h2 class="area__gallery__title">Activities</h2>
    <ul class="area__gallery__list">
      <li class="area__gallery__item">
        <img src="/img/the-area-page/gallery/area-gallery-1-1.jpg" alt="" class="area__gallery__image" />
        <div class="area__gallery__item__content-thumb">
          <h3 class="section__title">Restaurants & shopping</h3>
          <div class="area__gallery__item__image-buttons">
            <button class="area__gallery__item__button">Lorem, ipsum</button>
            <button class="area__gallery__item__button">Lorem, ipsum</button>
          </div>
          <p class="section__text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
      <li class="area__gallery__item">
        <img src="/img/the-area-page/gallery/area-gallery-2-1.jpg" alt="" class="area__gallery__image" />
        <div class="area__gallery__item__content-thumb">
          <h3 class="section__title">Experiences in nature</h3>
          <div class="area__gallery__item__image-buttons">
            <button class="area__gallery__item__button">Lorem, ipsum</button>
            <button class="area__gallery__item__button">Lorem, ipsum</button>
          </div>
          <p class="section__text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
      <li class="area__gallery__item">
        <img src="/img/the-area-page/gallery/area-gallery-3-1.jpg" alt="" class="area__gallery__image" />
        <div class="area__gallery__item__content-thumb">
          <h3 class="section__title">Go for a drive</h3>
          <div class="area__gallery__item__image-buttons">
            <button class="area__gallery__item__button">Lorem, ipsum</button>
            <button class="area__gallery__item__button">Lorem, ipsum</button>
          </div>
          <p class="section__text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
      <li class="area__gallery__item">
        <img src="/img/the-area-page/gallery/area-gallery-4-1.jpg" alt="" class="area__gallery__image" />
        <div class="area__gallery__item__content-thumb">
          <h3 class="section__title">Small-town charm</h3>
          <div class="area__gallery__item__image-buttons">
            <button class="area__gallery__item__button">Lorem, ipsum</button>
            <button class="area__gallery__item__button">Lorem, ipsum</button>
          </div>
          <p class="section__text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
