<section class="hut">
  <div class="container">
    <ul class="hut__list">
      <li class="hut__item">
        <div class="hut__item__image-thumb">
          <img src="/img/the-hut-page/gallery/outside.jpg" alt="" class="hut__item__image" />
        </div>
        <div class="hut__item__text-thumb">
          <h2 class="section__title">The Outside</h2>
          <ul class="hut__item__image-list">
            <li class="hut__item__image-item">Hot tube</li>
            <li class="hut__item__image-item">Electric car change</li>
          </ul>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
      <li class="hut__item">
        <div class="hut__item__image-thumb">
          <img src="/img/the-hut-page/gallery/space.jpg" alt="" class="hut__item__image" />
        </div>
        <div class="hut__item__text-thumb">
          <h2 class="section__title">The Inside</h2>
          <ul class="hut__item__image-list">
            <li class="hut__item__image-item">Space</li>
            <li class="hut__item__image-item">Kitchen</li>
            <li class="hut__item__image-item">Bathroom</li>
          </ul>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
            The cottages are built around tall, old trees that go through the entire cottage from floor to ceiling.
          </p>
        </div>
      </li>
      <li class="hut__item">
        <div class="hut__item__image-thumb">
          <img src="/img/the-hut-page/gallery/breakfast.jpg" alt="" class="hut__item__image" />
        </div>
        <div class="hut__item__text-thumb">
          <h2 class="section__title">Practicalities</h2>
          <ul class="hut__item__image-list">
            <li class="hut__item__image-item">Breakfast</li>
            <li class="hut__item__image-item">Classic Dinner</li>
          </ul>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
