<section class="hut">
  <div class="container">
    <ul class="hut__list">
      <li class="hut__item">
        <div class="hut-gallery-swiper hut__gallery__swiper">
          <div class="swiper-wrapper">
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-1.jpg" alt="" class="hut__item__image" />
            </div>
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-2.jpg" alt="" class="hut__item__image" />
            </div>
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-6.jpg" alt="" class="hut__item__image" />
            </div>
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-3.jpg" alt="" class="hut__item__image" />
            </div>
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-4.jpg" alt="" class="hut__item__image" />
            </div>
            <div class="hut__item__image-thumb swiper-slide">
              <img src="/img/the-hut-page/gallery/outside-5.jpg" alt="" class="hut__item__image" />
            </div>
          </div>
        </div>

        <div class="hut__item__text-thumb">
          <h2 class="section__title">The Outside</h2>
          <div class="hut__item__image-buttons">
            <button class="hut__item__button">Hot tube</button>
            <button class="hut__item__button">Electric car change</button>
          </div>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
      <li class="hut__item">
        <div class="hut__item__image-thumb">
          <img src="/img/the-hut-page/gallery/space.jpg" alt="" class="hut__item__image" />
        </div>
        <div class="hut__item__text-thumb">
          <h2 class="section__title">The Inside</h2>
          <div class="hut__item__image-buttons">
            <button class="hut__item__button">Space</button>
            <button class="hut__item__button">Kitchen</button>
            <button class="hut__item__button">Bathroom</button>
          </div>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
            The cottages are built around tall, old trees that go through the entire cottage from floor to ceiling.
          </p>
        </div>
      </li>
      <li class="hut__item">
        <div class="hut__item__image-thumb">
          <img src="/img/the-hut-page/gallery/breakfast.jpg" alt="" class="hut__item__image" />
        </div>
        <div class="hut__item__text-thumb">
          <h2 class="section__title">Practicalities</h2>
          <div class="hut__item__image-buttons">
            <button class="hut__item__button">Breakfast</button>
            <button class="hut__item__button">Classic Dinner</button>
          </div>
          <p class="section__text" data-i18n="section-text">
            Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen.
            They all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor
            shower. On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
