<section class="hut__hero">
  <div class="hero-swiper hut__swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <img class="hut__swiper__image" src="/img/the-hut-page/hero/hut-hero-1.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="hut__swiper__image" src="/img/the-hut-page/hero/hut-hero-2.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="hut__swiper__image" src="/img/the-hut-page/hero/hut-hero-3.jpg" alt="" />
      </li>
    </ul>
  </div>
  <h1 class="hut__title">The Hut</h1>
</section>
