.hut__hero {
    position: relative;
    background-color: grey;
    color: #FFF;
    margin-top: 125px;
}

.hut__hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    pointer-events: none;
}

.hut__swiper {
    width: 100%;
    height: 100%;
}

.hut__title {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 300;
    line-height: 1.02;
    margin-bottom: 15px;
}