.hut {
    padding-top: 200px;
    padding-bottom: 150px;
}

.hut__item {
    display: flex;
    /* align-items: center; */
    gap: 140px;
}

.hut__item:nth-child(even) {
    flex-direction: row-reverse;
}

.hut__item:not(:last-child) {
    margin-bottom: 150px;
}

.hut__item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hut__item__image-list {
    display: flex;
    gap: 30px;
    margin-bottom: 48px;
}

.hut__item__image-item {
    color: #5B6460;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6;
}