<section class="about-us__contacts" id="in-touch">
  <div class="container">
    <div class="about-us__contacts__main-container">
      <div class="about-us__contacts__thumb">
        <h2 class="about-us__contacts__title">Stay in touch with us</h2>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://maps.app.goo.gl/1rqHs3kPH9BpdMuL8"
              target="_blank"
              rel="noopener noreferrer"
              >Vesterborg, Denmark</a
            >
          </li>
          <li class="contacts__item"><a class="contacts__link" href="tel:+123456789000">+123 456 789 000</a></li>
          <li class="contacts__item">
            <a class="contacts__link" href="mailto:info@theglasshuts.com">info@theglasshuts.com</a>
          </li>
        </ul>
        <ul class="contacts__social-links__list">
          <li class="contacts__social-links__item">
            <a
              class="contacts__social-links__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__social-links__icon">
                <use href="/img/home-page/icons/social-icons-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="contacts__social-links__item">
            <a
              class="contacts__social-links__link"
              href="https://uk-ua.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__social-links__icon">
                <use href="/img/home-page/icons/social-icons-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="contacts__social-links__item">
            <a
              class="contacts__social-links__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__social-links__icon">
                <use href="/img/home-page/icons/social-icons-sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <form class="about-us__contacts__form" autocomplete="off">
        <div class="about-us__contacts__form__name-thumb">
          <input type="text" class="about-us__contacts__form__input" placeholder="First Name" />
          <input type="text" class="about-us__contacts__form__input" placeholder="Last Name" />
        </div>
        <input type="email" class="about-us__contacts__form__input" placeholder="Email" />
        <input type="text" class="about-us__contacts__form__input" placeholder="Subject" />
        <textarea class="about-us__contacts__form__input-textarea" cols="" rows="" placeholder="Message"></textarea>
        <button class="about-us__contacts__form__button" type="submit">send</button>
      </form>
    </div>
    <img class="about-us__contacts__heart-img" src="/img/about-us-page/location/with-love.png" alt="heart" />
  </div>
</section>
