<section class="about-us__hero">
  <div class="hero-swiper about-us__swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <img class="about-us__swiper__image" src="/img/about-us-page/hero/about-us-hero-2.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="about-us__swiper__image" src="/img/about-us-page/hero/about-us-hero-1.jpg" alt="" />
      </li>
      <li class="swiper-slide">
        <img class="about-us__swiper__image" src="/img/booking-page/hero/booking-hero-1.jpg" alt="" />
      </li>
    </ul>
  </div>
  <div class="about-us__hero__text-content">
    <h1 class="about-us__hero__title">About Us</h1>
    <ul class="about-us__hero__button__list">
      <li class="about-us__hero__button__item">
        <a href="#in-touch" class="about-us__hero__button">contact us</a>
      </li>
      <li class="about-us__hero__button__item">
        <a href="./faq.html" class="about-us__hero__button">read FAQ</a>
      </li>
    </ul>
  </div>
</section>
