<section class="about-us__location">
  <div class="container">
    <h2 class="about-us__location__title split-text">Lorem ipsum dolor sit amet, consectetur adipiscing...</h2>
    <div class="about-us__location__top-thumb">
      <img src="/img/about-us-page/location/location-top-1.jpg" alt="hut" class="about-us__location__square-img" />
      <img src="/img/about-us-page/location/location-top-2.jpg" alt="view" class="about-us__location__img" />
    </div>
    <div class="about-us__location__bottom-thumb">
      <img src="/img/about-us-page/location/location-bottom-1.jpg" alt="view" class="about-us__location__square-img" />
      <div class="about-us__location__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </div>
      <img src="/img/about-us-page/location/location-bottom-2.jpg" alt="view" class="about-us__location__square-img" />
    </div>
  </div>
</section>
