<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="70" height="65">
          <use href="/img/home-page/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="./index.html">HOME</a></li>
        <li class="nav__item"><a class="nav__link" href="./the-hut.html">THE HUT</a></li>
        <li class="nav__item"><a class="nav__link" href="./the-area.html">THE AREA</a></li>
        <li class="nav__item"><a class="nav__link" href="./booking.html">BOOKING</a></li>
        <li class="nav__item"><a class="nav__link" href="./about-us.html">ABOUT US</a></li>
        <li class="nav__item"><a class="nav__link" href="./faq.html">FAQ</a></li>
      </ul>
      <ul class="languages__list">
        <li class="languages__item">
          <button data-lang="en" class="languages__button">
            <img class="language__image" src="/img/icons/united-kingdom.png" alt="united-kingdom" />
          </button>
          <ul class="languages__list--submenu">
            <li class="languages__list--submenu-item">
              <button data-lang="de" class="languages__button">
                <img class="language__image" src="/img/icons/germany.png" alt="germany" />
              </button>
            </li>
            <li class="languages__list--submenu-item">
              <button data-lang="da" class="languages__button">
                <img class="language__image" src="/img/icons/denmark.png" alt="denmark" />
              </button>
            </li>
          </ul>
        </li>
      </ul>
      <button class="header__button" type="button" id="open-modal">Book Now</button>
    </nav>
  </div>
</header>
