<header class="header">
  <nav class="container main-nav">
    <a class="link logo" href="./index.html">
      <svg class="logo__icon" width="70" height="65">
        <use href="./images/icons/sprite.svg#icon-logo-whit-1"></use>
      </svg>
    </a>
    <ul class="list menu">
      <li class="menu__item"><a class="link menu__link" href="">HOME</a></li>
      <li class="menu__item"><a class="link menu__link" href="">THE HUT</a></li>
      <li class="menu__item"><a class="link menu__link" href="">THE AREA</a></li>
      <li class="menu__item"><a class="link menu__link" href="">BOOKING</a></li>
      <li class="menu__item"><a class="link menu__link" href="">ABOUT US</a></li>
      <li class="menu__item"><a class="link menu__link" href="">FAQ</a></li>
    </ul>
    <img class="language" src="" alt="" />
    <button class="header__button" type="button">Book Now</button>
  </nav>
</header>
