<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="70" height="65">
          <use href="/img/home-page/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav__list">
        <!-- <li class="nav__item"><a class="nav__link" href="../../the-glass-huts/index.html">HOME</a></li>
        <li class="nav__item"><a class="nav__link" href="../../the-glass-huts/the-hut.html">THE HUT</a></li>
        <li class="nav__item"><a class="nav__link" href="../../the-glass-huts/the-area.html">THE AREA</a></li>
        <li class="nav__item"><a class="nav__link" href="../../the-glass-huts/booking.html">BOOKING</a></li>
        <li class="nav__item"><a class="nav__link" href="../../the-glass-huts/about-us.html">ABOUT US</a></li>
        <li class="nav__item"><a class="nav__link" href="">FAQ</a></li> -->
        <li class="nav__item"><a class="nav__link" href="./index.html">HOME</a></li>
        <li class="nav__item"><a class="nav__link" href="./the-hut.html">THE HUT</a></li>
        <li class="nav__item"><a class="nav__link" href="./the-area.html">THE AREA</a></li>
        <li class="nav__item"><a class="nav__link" href="./booking.html">BOOKING</a></li>
        <li class="nav__item"><a class="nav__link" href="./about-us.html">ABOUT US</a></li>
        <li class="nav__item"><a class="nav__link" href="">FAQ</a></li>
      </ul>
      <div class="language"></div>
      <button class="header__button" type="button">Book Now</button>
    </nav>
  </div>
</header>
