.about-us__view {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-us__view .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-us__view__img {}

.about-us__view__text-content-thumb {
    width: 429px;
}

.about-us__view__title {
    color: #5B6460;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 32px;
}