.about-us__hero {
    height: 350px;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url('/img/about-us-page/hero/about-us-hero-1.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: grey;
    color: #FFF;
    text-align: center;
    padding-top: 67px;
    margin-top: 125px;
}

.about-us__hero__title {
    font-size: 70px;
    font-weight: 300;
    line-height: 1.02;
    margin-bottom: 89px;
}

.about-us__hero__button__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.about-us__hero__button {
    width: 180px;
    height: 55px;
    border: 0.7px solid #FFF;

    color: #FFF;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}