/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/container.css');

@import url('./common-elements/header.css');

/* Home Page */
@import url('./home-page/hero.css');
@import url('./home-page/the-cabins.css');
@import url('./home-page/location.css');
@import url('./home-page/facilities.css');


/* Booking Page */
:root {
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}