/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/container.css');

@import url('./common-elements/header.css');
@import url('./common-elements/footer.css');
@import url('./common-elements/calendar.css');

/* Home Page */
@import url('./home-page/hero.css');
@import url('./home-page/the-cabins.css');
@import url('./home-page/location.css');
@import url('./home-page/facilities.css');
@import url('./home-page/more-about-us.css');
@import url('./home-page/contacts.css');


/* Booking Page */
@import url('./booking-page/booking-hero.css');
@import url('./booking-page/services.css');
@import url('./booking-page/information.css');

/* The Hut Page */
@import url('./the-hut-page/hut-hero.css');
@import url('./the-hut-page/hut-gallery.css');

/* The Area Page */
@import url('./the-area-page/area-hero.css');
@import url('./the-area-page/area-content.css');
@import url('./the-area-page/area-gallery.css');
@import url('./the-area-page/area-location.css');

/* About Us Page */
@import url('./about-us-page/about-us-hero.css');
@import url('./about-us-page/about-us-view.css');
@import url('./about-us-page/about-us-location.css');
@import url('./about-us-page/about-us-contacts.css');

/* FAQ Page */
@import url('./faq-page/faq-section.css');

:root {
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}