/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./base/reset.css');
@import url('./base/common.css');
@import url('./base/container.css');

@import url('./common-elements/header.css');
@import url('./common-elements/footer.css');

/* Home Page */
@import url('./home-page/hero.css');
@import url('./home-page/the-cabins.css');
@import url('./home-page/location.css');
@import url('./home-page/facilities.css');
@import url('./home-page/more-about-us.css');
@import url('./home-page/contacts.css');


/* Booking Page */
@import url('./booking-page/booking-hero.css');

:root {
  --animation: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}