<section>
  <h2>Stay in touch with us</h2>
  <ul>
    <li><a href="">Vesterborg, Denmark</a></li>
    <li><a href="">+123 456 789 000</a></li>
    <li><a href="">info@theglasshuts.com</a></li>
  </ul>

  <ul>
    <li>
      <a href="">
        <svg>
          <use></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg>
          <use></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="">
        <svg>
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
  <img src="" alt="" />
  <button type="button">Book a hut <span>from €3.200 per night</span></button>
</section>
