<section class="contacts">
  <div class="container">
    <div class="contacts__text-content">
      <h2 class="contacts__title">Stay in touch with us</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://maps.app.goo.gl/1rqHs3kPH9BpdMuL8"
            target="_blank"
            rel="noopener noreferrer"
            >Vesterborg, Denmark</a
          >
        </li>
        <li class="contacts__item"><a class="contacts__link" href="tel:+123456789000">+123 456 789 000</a></li>
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:info@theglasshuts.com">info@theglasshuts.com</a>
        </li>
      </ul>

      <ul class="contacts__social-links__list">
        <li class="contacts__social-links__item">
          <a
            class="contacts__social-links__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts__social-links__icon">
              <use href="/img/home-page/icons/social-icons-sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__social-links__item">
          <a
            class="contacts__social-links__link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts__social-links__icon">
              <use href="/img/home-page/icons/social-icons-sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__social-links__item">
          <a class="contacts__social-links__link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
            <svg class="contacts__social-links__icon">
              <use href="/img/home-page/icons/social-icons-sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contacts__thumb">
      <img
        class="contacts__thumb__img"
        srcset="/img/home-page/contacts/contacts-1x.jpg 1x, /img/home-page/contacts/contacts-@2x.jpg 2x"
        src="#"
        alt="house"
      />
      <div class="contacts__button">
        <button type="button" class="contacts__book-button">Book a hut</button>
        <button type="button" class="contacts__price-button">
          <span class="contacts__price-button--span">from</span>€3.200
          <span class="contacts__price-button--span">per night</span>
        </button>
      </div>
    </div>
  </div>
</section>
