<section class="facilities">
  <div class="container">
    <h2 class="facilities__title">Facilities</h2>
    <ul class="facilities__list">
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-fridge"></use>
        </svg>
        <p class="facilities__item__text">Mini fridge</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-kitchen"></use>
        </svg>
        <p class="facilities__item__text">Kitchenette</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-coffee"></use>
        </svg>
        <p class="facilities__item__text">Coffee machine</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-electric-tea"></use>
        </svg>
        <p class="facilities__item__text">Electric tea kettle</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-park"></use>
        </svg>
        <p class="facilities__item__text">Parking</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-trees"></use>
        </svg>
        <p class="facilities__item__text">Breathtaking views</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-temperature"></use>
        </svg>
        <p class="facilities__item__text">Floor heating</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-plug"></use>
        </svg>
        <p class="facilities__item__text">230V</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-wifi"></use>
        </svg>
        <p class="facilities__item__text">Wi-Fi</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-shower"></use>
        </svg>
        <p class="facilities__item__text">Shower</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-toilet"></use>
        </svg>
        <p class="facilities__item__text">Flushing toilets</p>
      </li>
      <li class="facilities__item">
        <svg class="facilities__icon">
          <use href="/img/icons/facilities-sprite.svg#icon-towels"></use>
        </svg>
        <p class="facilities__item__text">Bedding & towels</p>
      </li>
    </ul>
  </div>
</section>
