<section class="facilities">
  <h2 class="facilities__title">Facilities</h2>
  <ul class="facilities__list list">
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-fridge"></use>
      </svg>
      <p>Mini fridge</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-kitchen"></use>
      </svg>
      <p>Kitchenette</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-coffee"></use>
      </svg>
      <p>Coffee machine</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-electric-tea"></use>
      </svg>
      <p>Electric tea kettle</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-park"></use>
      </svg>
      <p>Parking</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-trees"></use>
      </svg>
      <p>Breathtaking views</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-temperature"></use>
      </svg>
      <p>Floor heating</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-plug"></use>
      </svg>
      <p>230V</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-wifi"></use>
      </svg>
      <p>Wi-Fi</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-shower"></use>
      </svg>
      <p>Shower</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-toilet"></use>
      </svg>
      <p>Flushing toilets</p>
    </li>
    <li class="facilities__item">
      <svg class="facilities__icon">
        <use href="./images/icons/facilities-sprite.svg#icon-towels"></use>
      </svg>
      <p>Bedding & towels</p>
    </li>
  </ul>
</section>
