<section class="hero">
  <div class="container">
    <video autoplay muted loop playsinline class="hero__video">
      <source src="/video/home-page/hero.mov" />
      Ваш браузер не підтримує відео.
    </video>
    <div class="hero__content">
      <h1 class="hero__title" data-i18n="hero-title">Find peace in the Forest</h1>
      <p class="hero__text" data-i18n="hero-text">Come and stay in out hut hotel near Mariager Fjord in Denmark</p>
      <div class="hero__button" id="open-modal">
        <button type="button" class="hero__book-button">Book Now</button>
        <button type="button" class="hero__price-button">
          <span class="hero__price-button--span">from</span>€3.200
          <span class="hero__price-button--span">per night</span>
        </button>
      </div>
    </div>
  </div>
</section>
