<section class="cabins-section">
  <div class="container">
    <div class="cabins">
      <div class="cabins__content">
        <h2 class="cabins__title">The Cabins</h2>
        <p class="cabins__text">
          Løvtag’s three exclusive and comfortable cabins, Et, Ro and Ly, are designed by architect Sigurd Larsen. They
          all have an open space with a double bed, a double sofa bed, kitchen, separate toilet and an outdoor shower.
          On the roof, surrounded by treetops, there is a terrace, which is about nine meters above ground. The cottages
          are built around tall, old trees that go through the entire cottage from floor to ceiling.
        </p>
        <a class="cabins__link" href="">Read More</a>
      </div>
      <img
        class="cabins__image"
        srcset="/img/home-page/cabins/cabins-1.jpg 1x, /img/home-page/cabins/cabins-1@2x.jpg 2x"
        src="#"
        alt="bedroom"
        width="600"
      />
    </div>
    <ul class="cabins__bedroom__list">
      <li>
        <img
          srcset="/img/home-page/cabins/cabins-2.jpg 1x, /img/home-page/cabins/cabins-2@2x.jpg 2x"
          src="#"
          alt="house"
        />
      </li>
      <li>
        <img
          srcset="/img/home-page/cabins/cabins-3.jpg 1x, /img/home-page/cabins/cabins-3@2x.jpg 2x"
          src="#"
          alt="bedroom front view"
        />
      </li>
      <li>
        <img
          srcset="/img/home-page/cabins/cabins-4.jpg 1x, /img/home-page/cabins/cabins-4@2x.jpg 2x"
          src="#"
          alt="bedroom up view"
        />
      </li>
    </ul>
  </div>
</section>
