.area__hero {
    height: 350px;
    background-image: linear-gradient(to right, rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url('/img/the-area-page/hero/area-hero-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    color: #FFF;
    text-align: center;
    padding-top: 67px;
    margin-top: 125px;
}

.area__title {
    font-size: 70px;
    font-weight: 300;
    line-height: 1.02;
    margin-bottom: 15px;
}

.area__hero__adress-link {
    font-size: 18px;
    line-height: 1.33;
    text-decoration-line: underline;

}

.area__hero__adress-link::before {
    margin-right: 7px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 15px;
    background-image: url('/img/booking-page/icons/location.png');
}

.area__hero__button {
    display: block;
    width: 180px;
    height: 55px;
    border: 0.7px solid #FFF;
    margin: 50px auto;

    color: #FFF;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
}