.contacts {
    height: 620px;
    padding-top: 150px;
}

.contacts .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts__text-content {}

.contacts__title {
    color: #5B6460;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 50px;
}

.contacts__list {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.87;
    margin-bottom: 50px;
}

.contacts__item:first-child {
    margin-bottom: 20px;
}

.contacts__social-links__list {
    display: flex;
    gap: 40px;
}

.contacts__social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;

    transition: all var(--animation);
}

.contacts__social-links__link:hover,
.contacts__social-links__link:focus {
    background-color: #5B6460;
}

.contacts__social-links__icon {
    width: 20px;
    height: 20px;
    fill: #5B6460;
}

.contacts__social-links__link:hover .contacts__social-links__icon,
.contacts__social-links__link:focus .contacts__social-links__icon {
    fill: #E9ECE0;
}



.contacts__thumb {
    width: 386px;
    align-self: flex-end;
}

.contacts__thumb__img {}

.contacts__button {
    display: inline-flex;
    align-items: center;
}

.contacts__book-button {
    width: 266px;
    height: 100px;

    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: #FFF;
    background-color: #5B6460;

    transition: background-color var(--animation);
}

.contacts__price-button {
    width: 120px;
    height: 100px;
    border: none;
    cursor: pointer;

    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #333333;

    background-color: #E9ECE0;
}

.contacts__price-button--span {
    display: block;

    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}

.contacts__button:hover .contacts__book-button,
.contacts__button:focus .contacts__book-button {
    background-color: #808E88;
}