.hero {
    position: relative;
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../img/hero/hero-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url('../../img/hero/hero-1@2x.jpg');
    }
}

.hero__title {
    margin-right: 60px;
    margin-bottom: 34px;
    padding-top: 95px;
    font-weight: 300;
    font-size: 70px;
    line-height: 1.03;
    text-align: right;
    color: #ffffff;
}

.hero__text {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 1.4;
    max-width: 333px;
    text-align: center;
    margin-left: auto;
    margin-right: 145px;
    color: #ffffff;
}

.hero-button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 90%;
    left: 15%;
}

.hero__book-button {
    width: 380px;
    height: 100px;
    padding: 0;

    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.56;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: #ffffff;
    background-color: #5b6460;
}

.hero__price-button {
    width: 120px;
    height: 100px;
    padding: 0;
    border: none;
    cursor: pointer;

    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;

    background-color: #e9ece0;
}

.hero__price-button--span {
    display: block;
    /* left: calc(50% - 25px/2 - 18.5px);
  top: calc(50% - 18px/2 - 19px); */

    font-family: 'Mukta', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
}

.hero__book-button:hover,
.hero__book-button:focus {
    background-color: #808e88;
}