.hero {
    position: relative;
    height: 700px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/img/home-page/hero/hero-main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('/img/home-page/hero/hero-main@2x.jpg');
    }
}

.hero__title {
    padding-top: 85px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 70px;
    line-height: 1.03;
    text-align: right;
    color: #ffffff;
}

.hero__text {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 1.4;
    max-width: 333px;
    text-align: center;
    margin-left: auto;
    color: #ffffff;
}

.hero__button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 92%;
    left: 10%;
}

.hero__book-button {
    width: 263px;
    height: 100px;

    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: #ffffff;
    background-color: #5B6460;

    transition: background-color var(--animation);
}

.hero__price-button {
    width: 120px;
    height: 100px;
    border: none;
    cursor: pointer;

    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #333333;

    background-color: #e9ece0;
}

.hero__price-button--span {
    display: block;

    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}

.hero__button:hover .hero__book-button,
.hero__button:focus .hero__book-button {
    background-color: #808E88;
}