.hero {
    position: relative;
    z-index: -2;
    height: 700px;
    background-color: grey;
    margin-top: 125px;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

}

.hero__title {
    padding-top: 85px;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 70px;
    line-height: 1.03;
    text-align: right;
    color: #ffffff;
}

.hero__text {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 1.4;
    max-width: 400px;
    margin-left: auto;
    color: #ffffff;
}

.hero__button {
    position: absolute;
    display: inline-flex;
    align-items: center;
    bottom: -37px;
    left: 146px;
}

.hero__book-button {
    width: 263px;
    height: 100px;

    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    color: #ffffff;
    background-color: #5B6460;

    transition: background-color var(--animation);
}

.hero__price-button {
    width: 120px;
    height: 100px;
    border: none;
    cursor: pointer;

    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: #333333;

    background-color: #e9ece0;
}

.hero__price-button--span {
    display: block;

    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
}

.hero__button:hover .hero__book-button,
.hero__button:focus .hero__book-button {
    background-color: #808E88;
}