.cabins-section {
    padding-top: 100px;
    padding-bottom: 150px;
}

.cabins {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 150px;
}

.cabins__text {
    margin-bottom: 20px;
}

.cabins__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.87;
    color: #5b6460;
    text-decoration: underline;
}

.cabins__bedroom__list {
    display: flex;
    gap: 20px;
}