.cabins-section {
    padding-top: 100px;
    padding-bottom: 150px;
}

.cabins {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.cabins__text {
    margin-bottom: 20px;
}

.cabins__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.87;
    color: #5b6460;
    text-decoration: underline;
}

.cabins__image {
    width: 693px;
    height: 438px;
    margin-top: 100px;
}

.swiper {
    width: 350px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.cabins__swiper__thumb {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.cabins__bedroom__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}